/* Add CSS styling here */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}


    
* {
    box-sizing: border-box;
}   

html {
	font-size: 62.5%;
	font-family: 'Raleway',
	sans-serif;
}
/* Header Styling */
h1 {
	font-size: 7rem;
	text-align: center;
	color: #c9c9c9;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #454545;

}

.topNav {
	display: flex;
	flex-direction: row;
	font-size: 2rem;
	justify-content: space-evenly;
	margin-top: 2%;
	

}

.home, .about, .contact, .projects {
	padding: 2%;
	border: #c9c9c9 solid 2px;
	margin: 2%;
	background-color: #9a9b9c;
	

}
/* navigation styling */
.home:link, .home:visited {
	text-decoration: none;
	color: #3d3d3d;
}
.about:link, .about:visited {
	text-decoration: none;
	color: #3d3d3d;
}
.contact:link, .contact:visited {
	text-decoration: none;
	color: #3d3d3d;
}
.projects:link, .projects:visited {
	text-decoration: none;
	color: #3d3d3d;
}

/* top text styling */
h2 {
	font-size: 4rem;
	margin: 2%;
	color: #c9c9c9;
}

.intro {
	font-size: 1.5rem;
	margin: 2%;
	color: #c9c9c9;
	text-align: center;
	
}
/* main image */
.middleImage {
	height: 80vh;
}
/* Middle Styling */
.middleContent {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: #454545;
}

.projectImages {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 60vh;
	
}
.project1, .project2, .project3, .project4 {
	margin-left: 1%;
	margin-right: 1%;
	height: 62%;
}
.projectText {
	display: flex;
	text-align: center;
	align-items: flex-end;
	padding: 5%;
	color: #c9c9c9;
	font-size: 1.25rem;
}

/* footer styling */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #606161;
	align-items: center;
	
}
.contactMe {
	padding: 2%;
	border: #c9c9c9 solid 2px;
	margin: 2%;
	background-color: #9a9b9c;
	width: 12%;
	font-size: 1.5rem;
	
}
.contactMe:link, .contactMe:visited {
	text-decoration: none;
	color: #3d3d3d;
}

.bottomNav {
	display: flex;
	flex-direction: row;
	font-size: 2rem;
	justify-content: space-evenly;
	margin-top: 2%;

}
/* Responsive querie 800 */
@media(max-width: 800px){

	h1 {
		font-size: 8rem;
	}

	/* responsive nav */
	.topNav {
		flex-direction: column;
		width: 15%;
		text-align: center;
	}
	.home, .about, .contact, .projects {
		padding: 7%;
		margin: 5%;
		font-size: 1.5rem;
	}
	/* Responsive intro	 */
	h2 {
		font-size: 6rem;
	}
	/* Middle responsive */
	.middleImage {
		height: 35vh;
	} 
	.projectImages {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%; 
	}
	/* .middleContent{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%; */
	
	.project1, .project2, .project3, .project4 {
		display: flex;
		flex-wrap: wrap; 
		margin: px;
	}

	
}